<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <title>banner form</title>
</head>
<body layout:fragment="content">
<section class="section px-2">
    <form class="container" th:id="bannerform-form" th:action th:object="${bannerForm}" method="post"
          style="max-width: 640px">
        <!--period-->
        <div class="field">
            <label class="label" for="startDate">start date</label>
            <div class="control">
                <input class="input" type="date" th:field="*{startDate}">
                <script type="text/javascript">
                    const today = new Date();
                    const input = me('prev');
                    // 내일 날짜
                    const tomorrow = new Date(today);
                    tomorrow.setDate(tomorrow.getDate() + 1);
                    const year = tomorrow.getFullYear();
                    const month = String(tomorrow.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 +1
                    const day = String(tomorrow.getDate()).padStart(2, '0');
                    const formattedDate = `${year}-${month}-${day}`;
                    input.min = formattedDate;
                </script>
            </div>
        </div>

        <div class="field">
            <label class="label" for="duration">duration</label>
            <div class="control">
                <!-- 서버에서는 결제 예상 값을 계산해서 보내줘야한다. -->
                <!--  -->

                <input class="input" type="number" placeholder="2" min="2"
                       hx-trigger="change"
                       th:field="*{duration}"
                       hx:get="@{/blog/manage/banners/{bannerId}/form/estimated-payment(bannerId=${banner.id})}"
                       hx:vals="${ {id: banner.id, uiType: banner.uiType } }"
                       hx-target=".estimated-amount-container"
                       hx-swap="innerHTML"
                >
                <script type="text/javascript">
                    me('prev').value = 2;
                    me('prev').on('change', (e) => {
                        const val = e.target.value;
                        let input = document.querySelector('#duration-input');
                        input.value = value;
                    })
                </script>
            </div>
        </div>
        <div class="estimated-amount-container">
            <div class="block estimated-amount"
                 th:fragment="estimated-payment"
            >
                <div class="label">
                    Estimated Payment Amount
                </div>
                <div class="field has-addons">
                    <p class="control">
                        <input disabled class="input" type="text" th:placeholder="${estimatedPayment}"
                               th:value="${estimatedPayment}">
                    </p>
                    <p class="control">
                        <a class="button is-static">
                            WON
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
            <div class="control">
                <button class="button is-link is-light">Cancel</button>
            </div>
        </div>


    </form>


</section>


</body>
</html>