@use "bulma/sass/utilities/mixins";
@use "bulma/sass/utilities/extends";

.home-page {
  &__post-list {
     .card {
       .card-image {
         border-bottom: 2px solid #ccc;
         figure {
           overflow: hidden;
         }
         img {
           object-fit: cover;
         }
       }

       transition: transform 0.25s ease-in-out;
       &:hover {
         transform: translateY(-10px);
       }
    }
  }


}
