<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <!--Common Head-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"
    />

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>

    <!--Common JS-->
    <script type="text/javascript" th:src="@{/js/htmx.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/surreal.js}"></script>
    <script type="text/javascript" th:src="@{/js/htmx-sse.js}"></script>
    <script type="text/javascript" th:src="@{/js/nprogress.js}"></script>
    <!-- toastify -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <!--Common CSS -->
    <link rel="stylesheet" href="/css/application.css">
    <link href="/css/fontawesome/brands.min.css" rel="stylesheet"/>
    <link href="/css/fontawesome/fontawesome.min.css" rel="stylesheet"/>
    <link href="/css/fontawesome/solid.min.css" rel="stylesheet"/>
    <link href="/css/fontawesome/regular.min.css" rel="stylesheet"/>
    <link href="/css/nprogress.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">



</head>

<body hx-boost="true">
<header th:replace="~{layout/common/header :: header}"></header>
<th:block layout:fragment="content">
</th:block>
<!-- TODO: footer -->
<footer th:replace="fragments/footer :: mainFooter"></footer>
<div id="toast"></div>
<!--surreal-->
</body>
<!-- 한번만 실행되어야한다. -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.body.addEventListener("htmx:responseError", function (res) {
            let response = res.detail?.xhr?.response;
            let parsedResponse = JSON.parse(response);

            Toastify({
                text: parsedResponse.message,
                duration: 3000,
                close: true,
                gravity: "top",
                position: "center",
                stopOnFocus: true,
                style: {background: "linear-gradient(to right, #ff5f6d, #ffc371)"}
            }).showToast();
        })

        NProgress.configure({ showSpinner: false });

        window.addEventListener('htmx:beforeRequest', (event) => {
            if(event.detail.boosted) {
                NProgress.start();
            }
        });
        window.addEventListener('htmx:afterRequest', (event) => {
            if(event.detail.boosted) {
                NProgress.done();
            }
        });
        window.addEventListener('htmx:historyRestore', (event) => {
            NProgress.remove();
        });

    })
</script>

</html>