<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="header"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<header class="container is-position-relative">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item has-text-weight-bold is-size-3" href="/" hx-boost="true">
                Bespoke
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbar-target">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <script>
                    me().on("click", ev => {
                        let el = me(ev);
                        const target = el.dataset.target;
                        let menu = document.getElementById(target);
                        el.classList.toggle("is-active");
                        menu.classList.toggle("is-active")
                    }) </script>
            </a>

        </div>
        <div id="navbar-target" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-hidden-touch">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="https://github.com/simian114/bespoke" target="_blank">
                            About
                        </a>
                        <a class="navbar-item" href="mailto:simian114@gmail.com?subject=Contact from Bespoke.">
                            Contact
                        </a>
                        <!--  TODO: 버전기록  -->
                        <hr class="navbar-divider">
                        <a class="navbar-item" target="_blank" href="https://github.com/simian114/bespoke/issues">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">

                    <!--                        <div sec:authorize="isAuthenticated()" class="buttons has-addons">-->
                    <div class="buttons">
                        <th:block sec:authorize="isAuthenticated()">

                            <!--  TODO: 알림 처리  -->
                            <a hx-boost="true" href="/notification" class="button is-position-relative">
                            <span class="icon">
                                <i class="fa-regular fa-bell"></i>
                            <span class="tag is-info is-position-absolute"
                                  style="border-radius: 50%;width:10px;height:10px;padding:0px;"></span>
                            </span>
                            </a>
                            <a class="button if-info" hx-boost="true"
                               th:href="@{/blog/{nickname}(nickname=${me.nickname})}">
                                My Blog
                            </a>
                            <a class="button is-danger" href="/logout">
                                Log out
                            </a>

                        </th:block>
                        <th:block sec:authorize="!isAuthenticated()">
                            <a class="button is-primary" href="/signup" hx-boost="true">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="/login" hx-boost="true">
                                Log in
                            </a>
                        </th:block>
                        <!--  NOTE: theme toggler-->
                        <div th:replace="fragments/themeSelector"></div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
</html>