<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
1. top-banner
- ajax call 로 호출한다.

2. main-popup
- main 페이지에 접속하면 서버는 요청의 쿠키를 본다.
- 쿠키에 popup-deny 가 없으면 db 에서 값 가져와서 모델에 set 해서 보낸다.

3. main-hero
- main 페이지 접속하면 서버에서 값 바로 세팅
-
-->

<section th:fragment="hero-banner">
    <a th:href="${banner.link}" target="_blank">
        <div class="is-skeleton"
             style="height:48px;">
            <img />
        </div>
    </a>
</section>


</body>
</html>