<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
1. top-banner
- ajax call 로 호출한다.

2. main-popup
- main 페이지에 접속하면 서버는 요청의 쿠키를 본다.
- 쿠키에 popup-deny 가 없으면 db 에서 값 가져와서 모델에 set 해서 보낸다.

3. main-hero
- main 페이지 접속하면 서버에서 값 바로 세팅
-
-->

<div class="modal is-active" th:fragment="popup-banner">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: 100%; max-width: 380px;">
        <!--embla-->
        <section class="modal-card-body p-0 is-overflow-hidden" style="border-top-right-radius: 12px;border-top-left-radius: 12px;">
            <!--container-->
            <div class="is-flex">
                <!--slide-->
                <a target="_blank" th:class="is-block" style="flex: 0 0 100%;min-width: 0;width: 100%" th:each="banner: ${popupBanners}" th:href="${banner.link}">
                    <figure  class="image is-4by5">
                        <img th:class="${banner.id}" src="https://images.unsplash.com/photo-1484589065579-248aad0d8b13?q=80&w=1959&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                    </figure>
                </a>
            </div>
            <script type="text/javascript">
                me().run(async (ev) => {
                    const checkEmbla = setInterval(() => {
                        if (typeof EmblaCarousel !== 'undefined') {
                            clearInterval(checkEmbla);
                            const emblaNode = me(ev);
                            const OPTIONS = { loop: true };
                            const emblaApi = EmblaCarousel(emblaNode, OPTIONS);
                            console.log(emblaApi.slideNodes());
                        }
                    }, 100); // 100ms 간격 embla 모듈 설치됐는지 확인
                })
            </script>
        </section>
        <footer class="modal-card-foot p-4">
            <div class="buttons is-right">
                <button class="button is-success">
                    hide today
                    <script type="text/javascript">
                        me().on("click", ev => {
                            setCookie("hidePopupBanner", "true", 1);

                            // click 하면 쿠키 세팅
                            // let date = new Date();
                            // date.setTime(date.getTime() + (24 * 60 * 60 * 1000));
                            // let expires = "expires=" + date.toUTCString();
                            // document.cookie = "hidePopupBanner" + "=" + "true;" + expires + ";path=/"
                        })
                    </script>
                </button>
                <button class="button">Cancel</button>
            </div>
        </footer>
    </div>
</div>


</body>
</html>