<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<body>
<!-- NOTE: layout fragment 를 사용하면 내부에 태그 넣는게 그래도 더 편한 -->
<th:block layout:fragment="input(field, label, type, placeholder, required)">
    <div class="field" th:with="fieldName=${field}">
        <label class="label" th:text="${label}">label</label>
        <div class="control">
            <!--  TODO: icon  -->
            <input class="input" th:required="${required}" th:field="*{__${fieldName}__}" th:type="${type}"
                   th:placeholder="${placeholder}">
            <script layout:fragment="script"></script>
        </div>
        <p class="help is-danger" th:errors="*{__${fieldName}__}"></p>
    </div>
</th:block>
</body>
</html>