<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<body>
<!-- NOTE: layout fragment 를 사용하면 내부에 태그 넣는게 그래도 더 편한 -->
<th:block layout:fragment="input(field, label, type, placeholder, required, minlength, maxlength)">
    <div class="field" th:with="fieldName=${field}">
        <label class="label" th:text="${label}">label</label>
        <div class="control has-icons-right">
            <!--  TODO: icon  -->
            <input class="input" th:required="${required}" th:field="*{__${fieldName}__}" th:type="${type}"
                   th:placeholder="${placeholder}"
                   th:errorclass="is-danger"
                   th:minlength="${minlength}"
                   th:maxlength="${maxlength}"
            >
            <span th:if="${#fields.hasErrors(fieldName)}" class="icon is-right has-text-danger">
                <i class="fas fa-xmark fa-sm"></i>
            </span>
            <script layout:fragment="script"></script>
        </div>
        <p layout:fragment="info"></p>
        <p class="help is-danger" th:errors="*{__${fieldName}__}"></p>
    </div>
</th:block>

<th:block layout:fragment="textarea(field, label, placeholder, lines, required, disabled, defaultValue)">
    <div class="field" th:with="fieldName=${field}">
        <label class="label" th:text="${label}">label</label>
        <div class="control">
            <!--  TODO: icon  -->
            <textarea th:placeholder="${placeholder}" th:value="${defaultValue}" th:disabled="${disabled}"
                      class="textarea" th:rows="${lines}" th:required="${required}"
                      th:field="*{__${fieldName}__}"></textarea>
            <script layout:fragment="script"></script>
        </div>
        <p class="help is-danger" th:errors="*{__${fieldName}__}"></p>
    </div>
</th:block>

<th:block layout:fragment="tinymce(field, label, placeholder, required, uploadUrl)">
    <div class="field" th:with="fieldName=${field}" style="min-height: 600px;">
        <label class="label" th:text="${label}">Introduce</label>
        <div class="control has-icons-left has-icons-right">
                    <textarea th:placeholder="${placeholder}"
                              style="height: 0px !important;position: absolute;visibility: hidden;"
                              th:field="*{__${fieldName}__}" id="editor"
                              class="textarea is-success" type="text">
                    </textarea>
        </div>
        <script>
            let isFormDirty = false;
            document.addEventListener("DOMContentLoaded", () => {
                document.querySelector('form').addEventListener('input', function () {
                    isFormDirty = true;
                });
                document.querySelector('form').addEventListener('submit', function () {
                    isFormDirty = false; // 폼이 제출되면 경고창 표시 안함
                });
                window.addEventListener('beforeunload', function (event) {
                    if (isFormDirty) {
                        event.preventDefault();
                        event.returnValue = ''; // Chrome에서는 설정해야 경고창이 표시됨
                    }
                });
                window.addEventListener("reload:tinymce", function() {
                    const textarea = e.querySelector("textarea");
                    const uploadUrl = '[[${uploadUrl}]]';
                    if (textarea) {
                        const imagesUploadHandler = (blobInfo, progress) => new Promise((resolve, reject) => {
                            const xhr = new XMLHttpRequest();
                            xhr.withCredentials = true;
                            xhr.open('POST', uploadUrl);

                            xhr.upload.onprogress = (e) => {
                                progress(e.loaded / e.total * 100);
                            };

                            xhr.onload = () => {
                                if (xhr.status === 403) {
                                    reject({message: 'HTTP Error: ' + xhr.status, remove: true});
                                    return;
                                }

                                if (xhr.status < 200 || xhr.status >= 300) {
                                    reject('HTTP Error: ' + xhr.status);
                                    return;
                                }

                                const json = JSON.parse(xhr.responseText);

                                if (!json || !json.data || typeof json.data.url != 'string') {
                                    reject('Invalid JSON: ' + xhr.responseText);
                                    return;
                                }

                                resolve(json.data.url);
                            };

                            xhr.onerror = () => {
                                reject('Image upload failed due to a XHR Transport error. Code: ' + xhr.status);
                            };

                            const formData = new FormData();
                            formData.append('file', blobInfo.blob(), blobInfo.filename());

                            xhr.send(formData);
                        });

                        tinymce.remove();

                        setTimeout(() => {
                            tinymce.init({
                                selector: 'textarea',
                                plugins: 'preview importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media codesample table charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount help charmap quickbars emoticons accordion',
                                toolbar: "undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align numlist bullist | link image | table media | lineheight outdent indent| forecolor backcolor removeformat | charmap emoticons |  pagebreak anchor codesample",
                                content_css: ['/css/application.css'],
                                body_class: 'content',
                                content_style: 'body { margin: 16px; }',
                                image_caption: true,
                                height: 600,
                                resize: true,
                                promotion: false,
                                id: "editor",
                                images_upload_handler: imagesUploadHandler,
                                setup: function (editor) {
                                    editor.on('change', function () {
                                        tinymce.triggerSave();
                                    })
                                }
                            });
                        }, 0);
                    }
                })
            })
            me().run(e => {
                const textarea = e.querySelector("textarea");
                const uploadUrl = '[[${uploadUrl}]]';
                if (textarea) {
                    const imagesUploadHandler = (blobInfo, progress) => new Promise((resolve, reject) => {
                        const xhr = new XMLHttpRequest();
                        xhr.withCredentials = true;
                        xhr.open('POST', uploadUrl);

                        xhr.upload.onprogress = (e) => {
                            progress(e.loaded / e.total * 100);
                        };

                        xhr.onload = () => {
                            if (xhr.status === 403) {
                                reject({message: 'HTTP Error: ' + xhr.status, remove: true});
                                return;
                            }

                            if (xhr.status < 200 || xhr.status >= 300) {
                                reject('HTTP Error: ' + xhr.status);
                                return;
                            }

                            const json = JSON.parse(xhr.responseText);

                            if (!json || !json.data || typeof json.data.url != 'string') {
                                reject('Invalid JSON: ' + xhr.responseText);
                                return;
                            }

                            resolve(json.data.url);
                        };

                        xhr.onerror = () => {
                            reject('Image upload failed due to a XHR Transport error. Code: ' + xhr.status);
                        };

                        const formData = new FormData();
                        formData.append('file', blobInfo.blob(), blobInfo.filename());

                        xhr.send(formData);
                    });

                    tinymce.remove();

                    setTimeout(() => {
                        tinymce.init({
                            selector: 'textarea',
                            plugins: 'preview importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media codesample table charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount help charmap quickbars emoticons accordion',
                            toolbar: "undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align numlist bullist | link image | table media | lineheight outdent indent| forecolor backcolor removeformat | charmap emoticons |  pagebreak anchor codesample",
                            content_css: ['/css/application.css'],
                            body_class: 'content',
                            content_style: 'body { margin: 16px; }',
                            image_caption: true,
                            height: 600,
                            resize: true,
                            promotion: false,
                            id: "editor",
                            images_upload_handler: imagesUploadHandler,
                            setup: function (editor) {
                                editor.on('change', function () {
                                    tinymce.triggerSave();
                                })
                            }
                        });
                    }, 0);
                }
            })
        </script>
    </div>
</th:block>
</body>
</html>