<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<body>
<!-- NOTE: layout fragment 를 사용하면 내부에 태그 넣는게 그래도 더 편한 -->
<th:block layout:fragment="input(field, label, type, placeholder, required, minlength, maxlength)">
    <div class="field" th:with="fieldName=${field}">
        <label class="label" th:text="${label}">label</label>
        <div class="control has-icons-right">
            <!--  TODO: icon  -->
            <input class="input" th:required="${required}" th:field="*{__${fieldName}__}" th:type="${type}"
                   th:placeholder="${placeholder}"
                   th:errorclass="is-danger"
                   th:minlength="${minlength}"
                   th:maxlength="${maxlength}"
            >
            <span th:if="${#fields.hasErrors(fieldName)}" class="icon is-right has-text-danger">
                <i class="fas fa-xmark fa-sm"></i>
            </span>
            <script layout:fragment="script"></script>
        </div>
        <p layout:fragment="info"></p>
        <p class="help is-danger" th:errors="*{__${fieldName}__}"></p>
    </div>
</th:block>

<th:block layout:fragment="textarea(field, label, placeholder, lines, required, disabled, defaultValue)">
    <div class="field" th:with="fieldName=${field}">
        <label class="label" th:text="${label}">label</label>
        <div class="control">
            <!--  TODO: icon  -->
            <textarea th:placeholder="${placeholder}" th:value="${defaultValue}" th:disabled="${disabled}"
                      class="textarea" th:rows="${lines}" th:required="${required}"
                      th:field="*{__${fieldName}__}"></textarea>
            <script layout:fragment="script"></script>
        </div>
        <p class="help is-danger" th:errors="*{__${fieldName}__}"></p>
    </div>
</th:block>

<th:block layout:fragment="tinymce(field, label, placeholder, required, uploadUrl, id)">
    <div class="field" th:with="fieldName=${field}" style="min-height: 600px;">
        <label class="label" th:text="${label}">Introduce</label>
        <div class="control has-icons-left has-icons-right">
                    <textarea
                            th:id="${id}"
                            th:placeholder="${placeholder}"
                              style="height: 0px !important;position: absolute;visibility: hidden;"
                              th:field="*{__${fieldName}__}" id="editor"
                              class="textarea is-success" type="text">
                    </textarea>
        </div>
        <script>
            let isFormDirty = false;
            document.addEventListener("DOMContentLoaded", () => {
                document.querySelector('form').addEventListener('input', function () {
                    isFormDirty = true;
                });
                document.querySelector('form').addEventListener('submit', function () {
                    isFormDirty = false; // 폼이 제출되면 경고창 표시 안함
                });
                window.addEventListener('beforeunload', function (event) {
                    if (isFormDirty) {
                        event.preventDefault();
                        event.returnValue = ''; // Chrome에서는 설정해야 경고창이 표시됨
                    }
                });
                window.addEventListener("reload:tinymce", function() {
                    const id = `[[${id}]]`;
                    const textarea = document.getElementById(id);
                    const uploadUrl = '[[${uploadUrl}]]';
                    if (textarea) {
                        tinymce.remove();
                        setTimeout(() => {
                            initPostTinyMceEditor(uploadUrl)
                        }, 0);
                    }
                })
            })
            me().run(e => {
                const id = '[[${id}]]';
                const textarea = document.getElementById(id);
                const uploadUrl = '[[${uploadUrl}]]';
                if (textarea) {
                    tinymce.remove();
                    setTimeout(() => {
                        initPostTinyMceEditor(uploadUrl)
                    }, 0);
                }
            })
        </script>
    </div>
</th:block>
</body>
</html>