.toastify.error {
  background: linear-gradient(to right, #ff5f6d, #ffc371);
}

.toastify.success {
  background: linear-gradient(to right, rgb(0, 176, 155), rgb(150, 201, 61));
}

.toastify.info {
  background: linear-gradient(to right, rgb(0, 176, 155), rgb(150, 201, 61));
}
