// TODO: 옮겨야함. 위치는 어디로 할지 아직 미정
// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Path to Bulma's sass folder
@use "../../../../../node_modules/bulma/sass/index" with (
  $family-primary: '"Nunito", sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $link: $pink,
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");