@use "bulma/sass/utilities/mixins";
@use "bulma/sass/utilities/extends";

details {
  > summary {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: var(--bulma-primary-95);
    }
    font-size: 20px;
    font-weight: bold;
    transition: background-color ease 0.25s;
  }
}

a {
  &:hover {
    opacity: 0.8;
  }
}

@include mixins.tablet {
  .content-area {
    margin: auto;
    max-width: 640px;
  }
}
