<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      layout:fragment="content"
>
<head>
    <title th:text="|${owner.name}'s blog'.|">Bespoke</title>
</head>
<body>
    <section class="common-page blog-page section px-2">
        <div class="container">
            <div class="block is-flex is-justify-content-space-between">
                <h1 class="has-text-weight-bold is-size-4">
                    <a class="hax-text-weight-bold" th:text="${owner.nickname}"></a> ﹒ <span
                        class="hax-text-weight-bold"
                        th:text="${owner.name}"></span>
                </h1>
                <a th:if="${isOwner}" hx-boost="false" th:href="@{/blog/manage}"
                   class="button is-small">edit</a>
            </div>

            <div class="block box is-flex is-align-items-baseline">
                <div class="mr-4 is-flex-shrink-0 is-size-5 has-text-weight-semibold">space</div>
                <ul class="space-list is-flex-grow-5">
                    <th:block th:if="${owner.categories != null && #lists.size(owner.categories) > 0}">
                        <li class="is-flex" th:each="category: ${owner.categories}">
                            <a
                                    hx-boost="true"
                                    th:href="@{/blog/{nickname}/category/{url}(nickname=${owner.nickname},url=${category.url})}"
                                    class="has-text-weight-semibold is-underlined mr-2 is-flex-shrink-0"
                                    th:text="${category.name}"></a>
                            <p style="text-align: end" class="is-flex-grow-5" th:text="${category.description}"></p>
                        </li>
                    </th:block>
                    <th:block th:unless="${owner.categories != null && #lists.size(owner.categories) > 0}">
                        <div class="is-flex is-gap-2">
                            <p>empty space</p>
                            <a th:if="${isOwner}" class="button is-small"
                               th:href="@{/blog/{nickname}/manage/categories(nickname=${owner.nickname})}">추가</a>
                        </div>
                    </th:block>
                </ul>
            </div>


            <article class="block content">
                <p th:utext="${owner.introduce}"></p>
            </article>
            <!--            TODO: sns list-->
            <div class="block">
            </div>


        </div>
    </section>


</body>
</html>