<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/blog/blogLayout}"
      layout:fragment="content"
>
<head>
    <title>Bespoke</title>
</head>
<body>
<section class="section">
    <!-- max-width: 640 또는 768 둘 중 하나로 결정할 것.   -->
    <div class="container" style="max-width: 768px">
        <!--  https://bepyan.me/ 처럼 하면 좋을듯      -->
        <div class="block">
            이름 / 닉네임

        </div>
        <div class="block">
            자기소개
        </div>

        <div class="block">
            sns list
        </div>

        <div class="block">
            카테고리 ..
        </div>

    </div>
</section>
</body>
</html>