<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"

>
<head>
    <title th:text="|${owner.name}'s blog|">Bespoke</title>

    <meta name="title" th:content="|Bespoke - ${owner.nickname}s ${category.name}|">
    <meta name="description" th:content="|${category.name} - ${category.description}|">
    <meta name="image" content="https://bespoke-blog.s3.ap-northeast-2.amazonaws.com/seo/bespoke.png">
    <meta name="keywords" content="blog platform, simple, comfortable, diverse, fast, write stories, share stories, discover stories, velog, inblog, medium, wix, wordpress, tistory, naver blog, 벨로그, 블로그, 인블로그, 워드프레스, 티스토리, 네이버블로그">

    <meta property="og:site_name" content="Bespoke">
    <meta property="og:type" content="website">

    <meta property="og:title" th:content="|Bespoke - ${owner.nickname}s ${category.name}|">
    <meta property="og:description" th:content="|${category.name} - ${category.description}|">
    <meta property="og:image" content="https://bespoke-blog.s3.ap-northeast-2.amazonaws.com/seo/bespoke.png">

    <meta property="twitter:card" content="https://bespoke-blog.s3.ap-northeast-2.amazonaws.com/seo/bespoke.png">
    <meta property="twitter:url" content="https://www.bespoke.com">
    <meta property="twitter:title" th:content="|Bespoke - ${owner.nickname}s ${category.name}|">
    <meta property="twitter:description" th:content="|${category.name} - ${category.description}|">
    <meta property="twitter:image" content="https://bespoke-blog.s3.ap-northeast-2.amazonaws.com/seo/bespoke.png">

</head>
<body layout:fragment="content">
<section class="blog-page section px-2">
    <section class="content-area block">
        <th:block th:replace="~{/page/blog/fragments/header :: category}"></th:block>
    </section>
    <section class="content-area block">
        <th:block th:replace="~{page/blog/fragments/space :: space}"></th:block>
    </section>
    <section class="content-area block">
        <th:block th:replace="~{page/blog/fragments/introduce :: introduce(false)}"></th:block>
    </section>

    <div class="container" style="max-width: 640px">
        <!--            TODO: sns list-->
        <div class="block">
        </div>



        <!--        일단 전체 보기는 그냥 없어도 될듯 -->
        <div class="mt-3 post-list">
            <div><h4 class="has-text-weight-semibold is-size-5">POSTS</h4></div>
            <div th:if="${isEmpty}"
                 class="post-item container is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                <span style="font-size: 48px;">🫠
                </span>
                <span>empty space!</span>
            </div>
            <ul>
                <li class="post-item" th:each="post: ${posts}">
                    <a class="is-flex is-align-items-baseline is-gap-2 is-color-black-50 is-position-relative"
                       hx-boost="true"
                       th:href="@{/blog/posts/{postId}(postId=${post.id})}">
                        <h3 class="has-text-weight-semibold is-size-5" th:text="${post.title}"></h3>
                        <span class="is-size-6"
                              th:text="${post.createdAt}"></span>
                    </a>
                </li>
                <li class="post-item" th:if="${(hasNextPage ?: true)}"
                    hx-swap="outerHTML"
                    hx-select=".post-list .post-item"
                    hx-target="closest .post-item"
                    hx-trigger="revealed"
                    hx:get="@{/blog/posts(category=${category.id},page=${page==null?0:page})}"
                    hx-indicator="#htmx-skeleton"
                ></li>
            </ul>

        </div>


        <!--        <div class="block" hx-swap="outerhtml" hx-trigger="revealed"-->
        <!--             hx:get="@{/blog/{nickname}/posts(nickname=${nickname},category=${category.id},page=${page})}">-->
        <!--        </div>-->
        <!--        TODO: loading -->
    </div>
</section>


</body>
</html>