<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:if="${#lists.isEmpty(posts)}">
    <div class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
        <span style="font-size: 48px;">
        🫠
        </span>
        <span>empty!</span>
    </div>
</th:block>
<th:block th:unless="${#lists.isEmpty(posts)}">
    <ul class="mt-3 post-list">
        <li class="post-item" th:each="post: ${posts}">
            <a class="is-flex is-align-items-baseline is-gap-2 is-color-black-50 is-position-relative" th:href="@{/blog/posts/{postId}(postId=${post.id})}">
                <h3 class="has-text-weight-semibold is-size-5" th:text="${post.title}"></h3>
                <span class="is-size-6" th:text="|${#temporals.format(post.createdAt, 'yyyy.MM.dd')}.|"></span>
            </a>
        </li>
    </ul>
    <div th:if="${(hasNextPage ?: true)}">
                    <span hx-select=".post-list > .post-item"
                          hx-swap="outerHTML"
                          hx-target="closest .post-item"
                          hx-trigger="revealed"
                          hx:get="@{/blog/{nickname}/posts(nickname=${nickname},category=${category.id},page=${page})}">
                          hx-indicator="#htmx-skeleton"
                    ></span>

    </div>
    <div th:text="|page: ${page}|"></div>
</th:block>

</body>
</html>