<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      layout:fragment="content"
>
<head>
    <title th:text="notifications">title</title>
</head>
<body>
<section class="common-page section px-2">
    <div class="container">
        <div>
            <h1 class="is-size-2">notifications</h1>
        </div>
        <!-- 무한스크롤 -->
        <div class="block is-flex is-justify-content-space-between">
            <div class="buttons are-small mb-0 has-addons">
                <a
                        class="button"
                        th:href="@{/notification(readed=false)}"
                >
                    not read
                </a>
                <a
                        class="button"
                        th:href="@{/notification}"
                >
                    all
                </a>
            </div>
            <!-- TODO: 모두 읽음처리 / 삭제 -->
            <!--                <div class="buttons are-small has-addons">-->
            <!--                    <button class="button" hx-confirm="미구현">delete all</button>-->
            <!--                    <button class="button" hx-confirm="미구현" >read all</button>-->
            <!--                </div>-->
        </div>
        <div class="block is-flex is-flex-direction-column">
            <!--  페이지네이션이 더 좋을듯?  -->
            <ul class="notification-list is-flex is-flex-direction-column" th:fragment="notification-list">
                <li class="notification-item block"
                    th:each="notification: ${notifications}"
                    th:data-notification-id="${notification.id}"
                >
                    <script>
                        me().on("click", ev => {
                            let target = me(ev);
                            const id = target.dataset.notificationId;
                            target.classList.remove("has-background-primary-light")
                            const a = target.querySelector('a');
                            a.classList.remove('has-background-primary-light');
                            fetch("/notification/" + id, {method: "PATCH"})
                        })
                    </script>
                    <th:block th:switch="${#strings.toString(notification.type)}">
                        <th:block th:case="POST_PUBLISHED">
                            <a th:href="@{/blog/posts/{postId}(postId=${notification.refId})}"
                               class="is-flex is-justify-content-space-between is-gap-2 is-color-black box"
                               th:classappend="${notification.readed ? '' : 'has-background-primary-light'}"
                            >
                                    <span class="tag is-flex-shrink-0" th:text="${notification.type}"
                                          th:classappend="is-primary"></span>
                                <p th:text="${notification.content}"></p>
                                <span class="is-flex-shrink-0"
                                      th:text="|${#temporals.format(notification.createdAt, 'yyyy.MM.dd')}|"></span>
                            </a>
                        </th:block>
                        <th:block th:case="COMMENT_CREATED">
                            <a th:href="@{/blog/posts/{postId}(postId=${notification.refId})}"
                               class="is-flex is-justify-content-space-between is-gap-2 is-color-black box"
                               th:classappend="${notification.readed ? '' : 'has-background-primary-light'}"

                            >
                                    <span class="tag is-flex-shrink-0" th:text="${notification.type}"
                                          th:classappend="is-link"></span>
                                <p th:text="${notification.content}"></p>
                                <span class="is-flex-shrink-0"
                                      th:text="|${#temporals.format(notification.createdAt, 'yyyy.MM.dd')}|"></span>
                            </a>
                        </th:block>
                        <th:block th:case="POST_LIKE">
                            <a th:href="@{/blog/posts/{postId}(postId=${notification.refId})}"
                               class="is-flex is-justify-content-space-between is-gap-2 is-color-black box"
                               th:classappend="${notification.readed ? '' : 'has-background-primary-light'}"
                            >
                                    <span class="tag is-flex-shrink-0" th:text="${notification.type}"
                                          th:classappend="is-info">like</span>
                                <p th:text="${notification.content}"></p>
                                <span class="is-flex-shrink-0"
                                      th:text="|${#temporals.format(notification.createdAt, 'yyyy.MM.dd')}|"></span>
                            </a>
                        </th:block>
                        <th:block th:case="COMMENT_LIKE">
                            <a th:href="@{/blog/posts/{postId}(postId=${notification.refId})}"
                               class="is-flex is-justify-content-space-between is-gap-2 is-color-black box"
                               th:classappend="${notification.readed ? '' : 'has-background-primary-light'}"
                            >
                                    <span class="tag is-flex-shrink-0" th:text="${notification.type}"
                                          th:classappend="is-success"></span>
                                <p th:text="${notification.content}"></p>
                                <span class="is-flex-shrink-0"
                                      th:text="|${#temporals.format(notification.createdAt, 'yyyy.MM.dd')}|"></span>
                            </a>
                        </th:block>
                        <th:block th:case="FOLLOW">
                            <a th:href="@{/blog/{nickname}(nickname=${notification.publisher})}"
                               class="is-flex is-justify-content-space-between is-gap-2 is-color-black box"
                               th:classappend="${notification.readed ? '' : 'has-background-primary-light'}"
                            >
                                    <span class="tag is-flex-shrink-0" th:text="${notification.type}"
                                          th:classappend="is-danger"></span>
                                <p th:text="${notification.content}"></p>
                                <span class="is-flex-shrink-0"
                                      th:text="|${#temporals.format(notification.createdAt, 'yyyy.MM.dd')}|"></span>
                            </a>
                        </th:block>
                    </th:block>
                </li>
                <!--   NOTE: notification list    -->
                <li th:if="${hasNextPage ?: true}"
                    class="notification-item"
                    hx-swap="outerHTML"
                    hx-select=".notification-list .notification-item"
                    hx-target="closest .notification-item"
                    hx-trigger="revealed"
                    hx:get="@{/notification/list(page=${page ?: 0},readed=${param.readed})}"
                >

                </li>
            </ul>
        </div>
    </div>
</section>

</body>
</html>