<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li class="comment-item block is-bordered pb-2" style="border-bottom:1px solid lightgray;" th:fragment="comment-item">
    <div class="comment-author is-flex is-gap-2 is-align-items-center">
        <div class="comment-author-profile">
            <figure class="image is-48x48">
                <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/128x128.png"/>
            </figure>
        </div>
        <div class="is-flex is-flex-direction-column is-gap-0.5">
            <a class="is-size-5" th:text="${comment.user.nickname}"
               th:href="@{/blog/{nickname}(nickname=${comment.user.nickname})}"></a>
            <span th:text="${#temporals.format(comment.createdAt, 'yyyy.MM.dd') }"></span>
        </div>
    </div>
    <p class="comment-content" style="white-space: pre-wrap" th:text="${comment.content}">
    </p>
</li>

<ul class="comment-list" th:fragment="comment-list">
    <!--    <ul class="comment-list is-flex is-flex-direction-column is-gap-2" th:fragment="comment-list">-->
    <!--    <li class="comment-item is-flex is-flex-direction-column is-gap-2" th:each="comment: ${comments}">-->
    <th:block th:each="comment: ${comments}">
        <li th:replace="page/post/fragments :: comment-item"></li>
        <!--        <li class="comment-item block">-->
        <!--            <div class="comment-author is-flex is-gap-2 is-align-items-center">-->
        <!--                <div class="comment-author-profile">-->
        <!--                    <figure class="image is-48x48">-->
        <!--                        <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/128x128.png"/>-->
        <!--                    </figure>-->
        <!--                </div>-->
        <!--                <div class="is-flex is-flex-direction-column is-gap-0.5">-->
        <!--                    <a class="is-size-5" th:text="${comment.user.nickname}"-->
        <!--                       th:href="@{/blog/{nickname}(nickname=${comment.user.nickname})}"></a>-->
        <!--                    <span th:text="${#temporals.format(comment.createdAt, 'yyyy.MM.dd') }"></span>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <p class="comment-content" style="white-space: pre-wrap" th:text="${comment.content}">-->
        <!--            </p>-->
        <!--        </li>-->
    </th:block>
</ul>

</body>
</html>