<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <title th:text="|${post.title}|">Bespoke</title>

    <meta name="title" th:content="${post.title}">
    <meta name="description" th:content="${post.description}">
    <meta name="image" th:content="${post.cover != null ? post.cover.url : 'https://bespoke-blog.s3.ap-northeast-2.amazonaws.com/seo/bespoke.png'}">
    <meta name="keywords" content="blog platform, simple, comfortable, diverse, fast, write stories, share stories, discover stories, velog, inblog, medium, wix, wordpress, tistory, naver blog, 벨로그, 블로그, 인블로그, 워드프레스, 티스토리, 네이버블로그">

    <meta property="og:type" content="article">

    <meta property="og:url" content="아직url 없음">
    <meta property="og:title" th:content="${post.title}">
    <meta property="og:description" th:content="${post.description}">
    <meta property="og:image" th:content="${post.cover != null ? post.cover.url : 'https://bespoke-blog.s3.ap-northeast-2.amazonaws.com/seo/bespoke.png'}">

    <meta property="twitter:card" content="${post.cover != null ? post.cover.url : 'https://bespoke-blog.s3.ap-northeast-2.amazonaws.com/seo/bespoke.png'}">
    <meta property="twitter:url" content="아직url 없음">
    <meta property="twitter:title" th:content="${post.title}">
    <meta property="twitter:description" th:content="${post.description}">
    <meta property="twitter:image" th:content="${post.cover != null ? post.cover.url : 'https://bespoke-blog.s3.ap-northeast-2.amazonaws.com/seo/bespoke.png'}">
</head>
<body layout:fragment="content">

<section class="common-page section px-2 post-detail-page">
    <div class="container">
        <div th:if="${post.cover != null}">
            <figure class="image is-16by9 has-radius-normal">
                <img th:src="${post.cover.url}" class="post-detail-page__cover-img has-radius-large">
            </figure>
        </div>

        <div class="post-header is-flex is-flex-direction-column mt-5 pb-5"
        >
            <h1 class="is-size-3 has-text-weight-semibold mt-2" style="text-align: center;word-break: keep-all;"
                th:text="${post.title}">
                title
            </h1>
            <div th:if="${post.category != null}">
                <a class="is-pulled-right tag" th:text="${post.category.name}" th:href="@{/blog/{ownerNickname}/category/{categoryUrl}(ownerNickname=${owner.nickname},categoryUrl=${post.category.url})}">
                </a>
            </div>

            <!--  NOTE: 해당 영역은 api call로 변경하기  -->

            <div class="is-flex is-align-items-baseline is-justify-content-flex-end">
<!--                <span style="text-align: end;"-->
<!--                      th:text="|${#temporals.format(post.createdAt, 'yyyy.MM.dd')}. by |"></span>-->
                <span style="text-align: end;"
                      th:text="|${post.createdAt}. by |"></span>

                &nbsp;
                <a hx-boost="true" class="is-size-5 has-text-weight-semibold" th:text="${owner.nickname}"
                   th:href="@{/blog/{nickname}(nickname=${owner.nickname})}">
                    닉네임
                </a>
            </div>
<!--            TODO: 액션들은 어떻게 할지 더 생각해보기... -->
            <!--            <div class="buttons are-small has-addons is-right">-->
<!--                <button th:fragment="like" class="button" hx-target="this" hx-swap="outerHTML"-->
<!--                        hx:delete="@{/blog/posts/{postId}/like(postId=${post.id})}"-->
<!--                        th:if="${post.likedByUser}">-->
<!--                    <span class="icon is-small is-color-danger">-->
<!--                        <i class="fa-solid fa-heart"></i>-->
<!--                    </span>-->
<!--                    <span th:text="${post.countInfo.getLikeCount()}"></span>-->
<!--                </button>-->
<!--                <button th:fragment="cancel-like" class="button" hx-target="this" hx-swap="outerHTML"-->
<!--                        hx:post="@{/blog/posts/{postId}/like(postId=${post.id})}"-->
<!--                        th:unless="${post.likedByUser}">-->
<!--                    <span class="icon is-small">-->
<!--                        <i class="fa-regular fa-heart"></i>-->
<!--                    </span>-->
<!--                    <span th:text="${post.countInfo.getLikeCount()}"></span>-->
<!--                </button>-->

<!--                &lt;!&ndash;  팔로우   &ndash;&gt;-->
<!--                <button hx-swap="outerHTML" th:fragment="follow" th:unless="${follow}" class="button"-->
<!--                        hx:post="@{/blog/user/{userId}/follow(userId=${post.author.id})}"-->
<!--                >-->
<!--                        <span class="icon is-small">-->
<!--                            <i th:if="${follow}" class="fa-solid fa-user-minus"></i>-->
<!--                            <i th:unless="${follow}" class="fa-solid fa-user-plus"></i>-->
<!--                        </span>-->
<!--                </button>-->
<!--                &lt;!&ndash;  언팔로우   &ndash;&gt;-->
<!--                <button hx-swap="outerHTML" th:fragment="unfollow" th:if="${follow}" class="button"-->
<!--                        hx:delete="@{/blog/user/{userId}/follow(userId=${post.author.id})}"-->
<!--                >-->
<!--                        <span class="icon is-small">-->
<!--                            <i th:if="${follow}" class="fa-solid fa-user-minus"></i>-->
<!--                            <i th:unless="${follow}" class="fa-solid fa-user-plus"></i>-->
<!--                        </span>-->
<!--                </button>-->
<!--            </div>-->
        </div>
        <div style="width:100%;height: 1px;background-color: #bfc6d2;" class="mt-4 mb-4"></div>

        <article class="content mt-6" th:utext="${post.getContent()}"></article>


        <!-- comment area -->
        <div class="comment-container is-flex is-flex-direction-column">
            <div>
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa-regular fa-comment-dots"></i>
                    </span>
                    <span th:text="${post.countInfo.commentCount}">comment count</span>
                </span>
            </div>
            <div>
                <form th:action="@{/blog/posts/{postId}/comments(postId=${post.id})}"
                      hx-target=".comment-list"
                      hx-swap="afterbegin focus-scroll:false"
                      th:object="${comment}" method="post" hx-boost="true" th:fragment="comment-form">
                    <div layout:replace="~{fragments/form/layout-input :: textarea('content', '', 'comments..', 3, true, ${me == null ? true : false})}"></div>
                    <div class="field is-grouped">
                        <div class="control ml-auto">
                            <button class="button is-primary is-small">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div hx-trigger="revealed once"
                 hx:get="@{/blog/posts/{postId}/comments(postId=${post.id})}"
            >
                <!-- fill with comments -->
            </div>
        </div>
    </div>
</section>


</body>
</html>