<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="editor(field)">
    <div th:with="fieldName=${field}" class="field" style="min-height: 600px;">
        <label class="label">Introduce</label>
        <div class="control has-icons-left has-icons-right">
                    <textarea
                            th:field="*{__${fieldName}__}"
                            placeholder="Introduce your self..!"
                            style="height: 0px !important;position: absolute;visibility: hidden;"
                            class="textarea is-success"
                            type="text"
                            id="introduce-editor"
                    >
                    </textarea>
        </div>
        <script>
            var isFormDirty = false;
            function initTinyMce() {
                setTimeout(() => {
                    initProfileIntroduceEditor()
                }, 0);
            }
            document.addEventListener("DOMContentLoaded", () => {
                document.querySelector('form').addEventListener('input', function () {
                    isFormDirty = true;
                });
                document.querySelector('form').addEventListener('submit', function () {
                    isFormDirty = false;
                });
                document.addEventListener('reload:tinymce', () => {
                    const textarea = document.querySelector("#introduce-editor");
                    if (textarea) {
                        tinymce.remove();
                        initTinyMce();
                    }
                })
                window.addEventListener('beforeunload', function (event) {
                    if (isFormDirty) {
                        event.preventDefault();
                        event.returnValue = '';
                    }
                });
            })
            me().run(e => {
                const textarea = e.querySelector("#introduce-editor");
                if (textarea) {
                    tinymce.remove();
                    initTinyMce()
                }
            })
        </script>
    </div>
</th:block>


</body>
</html>