<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<!-- post -->
<th:block th:fragment="defaultCard(post)">
    <a class="cell" hx-boost="true" th:href="@{/blog/posts/{postId}(postId=${post.id})}">
        <div class="card">
            <div class="card-image">
                <figure class="image is-16by9">
                    <img
                            th:src="${cdnUrl + post.cover.filename}"
                            src="https://bulma.io/assets/images/placeholders/1280x960.png"
                            alt="Placeholder image"
                    />
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48 ">
                            <img
                                    src="https://bulma.io/assets/images/placeholders/96x96.png"
                                    alt="Placeholder image"
                                    loading="lazy"
                                    style=""
                                    th:src="${post.author.avatarUrl}"
                                    class="is-rounded"
                            />
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4" th:text="${post.id}">John Smith</p>
                        <p class="subtitle is-6" th:text="${post.title}">@johnsmith</p>
                    </div>
                </div>

                <div class="content" th:text="${post.description}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                    iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                    <a href="#">#responsive</a>
                    <br/>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
            </div>
        </div>
    </a>
</th:block>


</html>