<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      layout:fragment="content"
>
<head>
    <title>게시글 작성 | 수정</title>
</head>
<body>
<main class="myblog-page">
    <header th:replace="~{layout/common/header :: header}"></header>
    <section class="section px-2">
        <nav th:replace="page/myblog/navigator :: navigator"></nav>
        <form th:action="${action}" th:object="${category}" method="post" style="max-width: 768px">
            <!--  TODO: category 선택  -->
            <!-- NOTE: 마음에 들지 않음 -->
            <div layout:replace="~{fragments/form/layout-input :: input('name', 'Name', 'text', 'name...', true)}">
                <script layout:fragment="script">
                    me().on("input", ev => {
                        const el = me(ev).querySelector("input");
                        const value = el?.value;
                        if (value.length === 0 || value.length > 20) {
                            el.classList.add("is-danger");
                            el.classList.remove("is-success");
                        } else {
                            el.classList.remove("is-danger");
                            el.classList.add("is-success");
                        }
                    })
                </script>
            </div>
            <div layout:replace="~{fragments/form/layout-input :: input('description', 'Description', 'text', 'description', false)}">
                <script layout:fragment="script">
                    me().on("input", ev => {
                        const el = me(ev).querySelector("input");
                        const value = el?.value;
                        if (value.length === 0 || value.length > 300) {
                            el.classList.add("is-danger");
                            el.classList.remove("is-success");
                        } else {
                            el.classList.remove("is-danger");
                            el.classList.add("is-success");
                        }
                    })
                </script>
            </div>
            <div layout:replace="~{fragments/form/layout-input :: input('url', 'Url', 'text', 'url', false)}">
                <script layout:fragment="script">
                    me().on("input", ev => {
                        const el = me(ev).querySelector("input");
                        const value = el?.value;
                        if (value.length === 0 || value.length > 10) {
                            el.classList.add("is-danger");
                            el.classList.remove("is-success");
                        } else {
                            el.classList.remove("is-danger");
                            el.classList.add("is-success");
                        }
                    })
                </script>
            </div>



            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Submit As Draft</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light">Cancel</button>
                </div>
            </div>


        </form>
    </section>
</main>



</body>
</html>