<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navigator" class="panel">
    <p class="panel-tabs">
        <!--  현재의 url 과 비교해서 is-active class 추가  -->
        <a hx-boost="false" hx-swap="outerHTML transition: true"
           th:href="@{/blog/manage/profile}">profile</a>
        <a hx-swap="outerHTML transition: true"
           th:href="@{/blog/manage/posts}">post</a>
<!--        <a hx-swap="outerHTML transition: true"-->
<!--           th:href="@{/blog/manage/follows}">follow</a>-->
        <a hx-swap="outerHTML transition: true"
           th:href="@{/blog/manage/categories}">category</a>
        <script>
            any(".panel-tabs a")?.forEach(el => {
                const currentUrl = window.location.pathname;
                el.getAttribute("href");
                if (currentUrl.startsWith(el.getAttribute("href"))) {
                    el.classList.add("is-active");
                } else {
                    el.classList.remove("is-active");
                }
            })
        </script>
    </p>
</nav>

</body>
</html>