<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      layout:fragment="content"
>
<head>
    <title>Bespoke</title>
</head>
<body>
<main id="main" class="post-manage-page">
    <section class="section px-2">
        <nav th:replace="page/myblog/navigator :: navigator"></nav>
        <div class="container">
            <div>
                <div class="block">
                    <a class="button" hx-boost="false"
                       th:href="@{/blog/manage/posts/new}">
                        write post
                    </a>
                </div>

                <div class="block">filter</div>

                <div class="table-container is-flex is-flex-direction-column is-justify-content-center	">
                    <!--  테이블 넣기  -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th><abbr title="Post Id">id</abbr></th>
                            <th><abbr title="Title">title</abbr></th>
                            <th><abbr title="Status">status</abbr></th>
                            <th><abbr title="Created At">createdAt</abbr></th>
                            <th>action</th>
                        </tr>
                        </thead>
                        <!--  tfoot  -->
                        <tfoot>
                        <tr>
                            <th><abbr title="Post Id">id</abbr></th>
                            <th><abbr title="Title">title</abbr></th>
                            <th><abbr title="Status">status</abbr></th>
                            <th><abbr title="Created At">createdAt</abbr></th>
                            <th>action</th>
                        </tr>
                        </tfoot>
                        <tbody hx-swap="outerHTML swap:0.5s">
                        <!-- tbody -->
                        <th:block th:each="post: ${posts}">
                            <!--                    delete 된 post 라면 ...-->
                            <tr th:fragment="post-item-row">
                                <th><abbr title="Post Id" th:text="${post.id}">id</abbr></th>
                                <th><abbr title="Title" th:text="${post.title}">title</abbr></th>
                                <th><abbr title="Status" th:text="${post.status}">status</abbr></th>
                                <th><abbr title="Created At" th:text="${post.createdAt}">createdAt</abbr></th>
                                <th class="buttons are-small">
                                    <a th:href="@{/blog/manage/posts/{postId}/edit(postId=${post.id})}"
                                       class="button is-primary">edit</a>
                                    <button class="button is-danger" hx-confirm="Are you sure?"
                                            hx-target="closest tr"
                                            hx:delete="@{/blog/manage/posts/{postId}(postId=${post.id})}">
                                        delete
                                    </button>
                                    <th:block th:if="${post.status.name() == 'DRAFT'}">
                                        <button hx:patch="@{/blog/manage/posts/{postId}/status/PUBLISHED(postId=${post.id})}"
                                                hx-confirm="Are you sure?"
                                                hx-target="closest tr"
                                                hx-swap="outerHTML"
                                                class="button is-info">publish
                                        </button>
                                        <button hx:patch="@{/blog/manage/posts/{postId}/status/HIDDEN(postId=${post.id})}"
                                                hx-confirm="Are you sure?"
                                                hx-target="closest tr"
                                                hx-swap="outerHTML"
                                                class="button is-warning">hidden
                                        </button>
                                    </th:block>
                                    <th:block th:unless="${post.status.name() == 'DRAFT'}">
                                        <button hx:patch="@{/blog/manage/posts/{postId}/status/PUBLISHED(postId=${post.id})}"
                                                hx-confirm="Are you sure?"
                                                class="button is-warning" th:if="${post.status.name() == 'HIDDEN'}"
                                                hx-target="closest tr"
                                                hx-swap="outerHTML"
                                        >
                                            publish
                                        </button>
                                        <button hx:patch="@{/blog/manage/posts/{postId}/status/HIDDEN(postId=${post.id})}"
                                                hx-confirm="Are you sure?"
                                                class="button is-info" th:if="${post.status.name() == 'PUBLISHED'}"
                                                hx-target="closest tr"
                                                hx-swap="outerHTML"
                                        >
                                            hidden
                                        </button>
                                    </th:block>

                                </th>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>

                    <!--            TODO: 페이지네이션 컴포넌트로 분리해서 거기서 처리할 것.-->
                    <nav class="pagination" role="navigation" aria-label="pagination">
                        <a hx-boost="true"
                           th:href="@{/blog/manage/posts(page=${page - 1})}"
                           class="pagination-previous">Previous</a>
                        <a hx-boost="true"
                           th:href="@{/blog/manage/posts(page=${page + 1})}"
                           class="pagination-next">Next</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</main>


</body>
</html>