<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/myblog/myBlogLayout}"
      layout:fragment="content"
>
<head>
    <title>Bespoke</title>
</head>
<body>
<section class="section">
    <div class="container">
        <div>
            filter
        </div>

        <div class="table-container is-flex is-flex-direction-column is-justify-content-center	">
            <!--  테이블 넣기  -->
            <table class="table">
                <thead>
                <tr>
                    <th><abbr title="Post Id">id</abbr></th>
                    <th><abbr title="Title">제목</abbr></th>
                    <th><abbr title="Status">상태</abbr></th>
                    <th><abbr title="Created At">생성일</abbr></th>
                    <th>액션</th>
                </tr>
                </thead>
                <!--  tfoot  -->
                <tfoot>
                <tr>
                    <th><abbr title="Post Id">id</abbr></th>
                    <th><abbr title="Title">제목</abbr></th>
                    <th><abbr title="Status">상태</abbr></th>
                    <th><abbr title="Created At">생성일</abbr></th>
                    <th>액션</th>
                </tr>
                </tfoot>
                <tbody>
                <!-- tbody -->
                <th:block th:each="post: ${posts}">
                    <tr>
                        <th><abbr title="Post Id" th:text="${post.id}">id</abbr></th>
                        <th><abbr title="Title" th:text="${post.title}">제목</abbr></th>
                        <th><abbr title="Status" th:text="${post.status}">상태</abbr></th>
                        <th><abbr title="Created At" th:text="${post.createdAt}">생성일</abbr></th>
                        <th>
                            <div class="buttons are-small">
                                <button class="button">수정</button>
                                <button class="button is-danger">삭제</button>
                            </div>
                        </th>
                    </tr>
                </th:block>
                </tbody>
            </table>

            <!--            TODO: 페이지네이션 컴포넌트로 분리해서 거기서 처리할 것.-->
            <nav class="pagination" role="navigation" aria-label="pagination">
                <a hx-boost="true" hx-target=".table-container" th:href="@{/blog/{nickname}/manage/posts(nickname=${nickname},page=${page - 1})}" class="pagination-previous">Previous</a>
                <a hx-boost="true" hx-target=".table-container" th:href="@{/blog/{nickname}/manage/posts(nickname=${nickname},page=${page + 1})}" class="pagination-next">Next</a>
            </nav>
        </div>
    </div>
</section>
</body>
</html>