<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main/mainLayout}"
      layout:fragment="content"
>
<head>
    <title>회원가입</title>
    <script src="https://cdn.tiny.cloud/1/ss975ca1zu3j8n3y7ispewh9r3mc2qwcxz9ifmscxhlz8xi8/tinymce/7/tinymce.min.js"
            referrerpolicy="origin"></script>
</head>

<body>
<section class="section">
    <form action="/signup" th:action th:object="${user}" method="post">
        <div class="container">

            <div layout:replace="~{fragments/form/layout-input :: input('email', 'Email', 'email', 'email@gmail.com', true)}"></div>
            <div layout:replace="~{fragments/form/layout-input :: input('nickname', 'Nickname', 'text', 'nickname', true)}"></div>
            <div layout:replace="~{fragments/form/layout-input :: input('name', 'Name', 'text', 'What is you name', false)}"></div>
            <div layout:replace="~{fragments/form/layout-input :: input('password', 'Password', 'password', '', true)}"></div>

            <div class="field">
                <label class="label">Introduce</label>
                <div class="control has-icons-left has-icons-right">
                    <textarea th:field="*{introduce}" id="editor" class="textarea is-success" type="text"></textarea>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        I agree to the <a href="#">terms and conditions</a>
                    </label>
                </div>
            </div>
            <div>
                <th:block th:if="${#fields.hasGlobalErrors()}">
                    <p class="help is-danger" th:each="err :${#fields.globalErrors()}" th:text="${err}"></p>
                </th:block>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Sign up</button>
                </div>
                <div class="control">
                    <a class="button is-link is-light" href="/" hx-boost="true">Cancel</a>
                </div>
            </div>
        </div>
        <!--      -->
    </form>
</section>
<script>
    // LINK: https://www.tiny.cloud/docs/tinymce/latest/file-image-upload/#images_upload_handler
    const imagesUploadHandler = (blobInfo, progress) => new Promise((resolve, reject) => {
        const xhr = new XMLHttpRequest();
        xhr.withCredentials = true;
        xhr.open('POST', '/api/file-upload');

        xhr.upload.onprogress = (e) => {
            progress(e.loaded / e.total * 100);
        };

        xhr.onload = () => {
            if (xhr.status === 403) {
                reject({message: 'HTTP Error: ' + xhr.status, remove: true});
                return;
            }

            if (xhr.status < 200 || xhr.status >= 300) {
                reject('HTTP Error: ' + xhr.status);
                return;
            }

            const json = JSON.parse(xhr.responseText);

            if (!json || !json.data || typeof json.data.location != 'string') {
                reject('Invalid JSON: ' + xhr.responseText);
                return;
            }

            resolve(json.data.location);
        };

        xhr.onerror = () => {
            reject('Image upload failed due to a XHR Transport error. Code: ' + xhr.status);
        };

        const formData = new FormData();
        formData.append('file', blobInfo.blob(), blobInfo.filename());

        xhr.send(formData);
    });

    // TODO: 현재 아래의 설정에는 사용하지 못하는 플러그인도 포함되어있음. non-premium plugin setup 으로 변경하자 non-premium plugin setup
    // LINK: https://www.tiny.cloud/docs/tinymce/latest/full-featured-open-source-demo
    tinymce.init({
        selector: 'textarea',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        content_css: ['/css/application.css'],
        body_class: 'content',
        content_style: 'body { margin: 16px; }',
        height: 600,
        resize: true,
        images_upload_handler: imagesUploadHandler
    });


</script>

</body>
</html>