<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main/mainLayout}"
      layout:fragment="content"
>
<head>
    <title>회원가입</title>
</head>

<body>
<section class="section">
    <!--  회원가입 성공 이메일 확인하라는 메시지 줘야함.-->
    <div class="container">
        <h1>...미완성...</h1>
        <h1>이메일 인증을 해주세요</h1>
        <!--    재전송할 이메일-->
        이메일이 도착하지 않았다면, 재전송 버튼을 눌러주세요.
        <button class="button" hx-post="/resend-verification-email">
            이메일 재전송
        </button>
    </div>
</section>
<footer></footer>
</body>
</html>