<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      layout:fragment="content"
>
<head>
    <title>Bespoke</title>
</head>
<body>
<main id="main" class="home-page">
    <section class="section">
        <div class="container">
            <h2 class="is-size-1" style="text-align: center">
                Something went wrong. We are sorry
            </h2>
        </div>
    </section>
</main>
</body>
</html>