<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
    <!--Common Head-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"
    />

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>

    <!--Common JS-->
    <script type="text/javascript" th:src="@{/js/htmx.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/surreal.js}"></script>

    <script src="https://cdn.tiny.cloud/1/ss975ca1zu3j8n3y7ispewh9r3mc2qwcxz9ifmscxhlz8xi8/tinymce/7/tinymce.min.js"
            referrerpolicy="origin"></script>

    <!--Common CSS -->
    <link rel="stylesheet" href="/css/application.css">
    <link href="/css/fontawesome/brands.min.css" rel="stylesheet" />
    <link href="/css/fontawesome/fontawesome.min.css" rel="stylesheet" />
    <link href="/css/fontawesome/solid.min.css" rel="stylesheet" />
    <link href="/css/fontawesome/regular.min.css" rel="stylesheet" />
</head>

<body>
<section class="section">
    <div class="container"  style="max-width: 640px;">
        <!--        filter -->
        <nav class="panel">
            <p class="panel-tabs">
                <!--  현재의 url 과 비교해서 is-active class 추가  -->
                <a hx-boost="true" hx-swap="outerHTML transition: true" hx-target="section.section" class="is-active" th:href="@{/blog/{nickname}/manage(nickname=${owner.nickname})}">프로필</a>
                <a hx-boost="true" hx-swap="outerHTML transition: true" hx-target="section.section" th:href="@{/blog/{nickname}/manage/posts(nickname=${owner.nickname})}">게시글</a>
                <a hx-boost="true" hx-swap="outerHTML transition: true" hx-target="section.section" th:href="@{/blog/{nickname}/manage/follows(nickname=${owner.nickname})}">팔로우</a>
                <a hx-boost="true" hx-swap="outerHTML transition: true" hx-target="section.section" th:href="@{/blog/{nickname}/manage/categories(nickname=${owner.nickname})}">카테고리</a>
            </p>
        </nav>
        <div class="container">
            <th:block layout:fragment="content">
                <!--    -->
            </th:block>
        </div>
    </div>

</section>
</body>
</html>