<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"

>
<div class="block is-flex" th:fragment="orderBy">
    <div id="main-home-dropdown" class="dropdown is-hoverable ml-auto">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" style="min-width: 133px;">
                <span th:class="dropdown-header-text">
                    ORDER BY
                    <script type="text/javascript">
                        const queryString = window.location.search;
                        const params = new URLSearchParams(queryString);
                        const orderBy = params.get("orderBy");
                        const span = me();
                        if (!orderBy || !orderBy.length) {
                            <!--default는 like-->
                            span.innerText = "LIKE";
                        } else {
                            span.innerText = orderBy;
                        }
                    </script>
                </span>
                <span class="icon is-small"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                <button class="dropdown-item"
                        hx:get="@{/(orderBy=LATEST)}"
                        hx-target=".post-list"
                        hx-swap="outerHTML"
                        hx-push-url="true"
                >
                    Latest
                </button>
                <button class="dropdown-item"
                        hx:get="@{/(orderBy=LIKE)}"
                        hx-target=".post-list"
                        hx-swap="outerHTML"
                        hx-push-url="true"
                >
                    Like
                </button>
                <button class="dropdown-item"
                        hx:get="@{/(orderBy=COMMENT)}"
                        hx-target=".post-list"
                        hx-swap="outerHTML"
                        hx-push-url="true"
                >
                    Comment
                </button>
                <script type="text/javascript">
                    me().on("click", (e) => {
                        console.log(e.target);
                        const a = e.target.innerText.toUpperCase();
                        const triggerSpan = document.querySelector("#main-home-dropdown .dropdown-trigger > button > span");
                        triggerSpan.innerText = a;
                        console.log({a})
                    })
                </script>
            </div>
        </div>
    </div>
</div>
</html>