<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"

>
<div class="block is-flex" th:fragment="orderBy">
    <!--           TODO: 정렬은 오른쪽 끝에 배치 -->
    <!--    TODO: 선택된 값 헤더에 표시 및 active 표현.-->
    <!--    TODO: 드랍다운 공통화가 필요할듯-->
    <div class="dropdown is-hoverable ml-auto">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span th:class="dropdown-header-text">
                    order by
                    <script type="text/javascript">
                        me().run(() => {
                            const queryString = window.location.search;
                            const params = new URLSearchParams(queryString);
                            const orderBy = params.get("orderBy");
                            const span = me();
                            if (!orderBy) {
                                span.innerText = "LIKE";
                                return;
                            }
                            span.innerText = orderBy;
                        })
                    </script>
                </span>
                <span class="icon is-small"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                <a href="?orderBy=LATEST" hx-boost="true" class="dropdown-item">Latest</a>
                <a href="?orderBy=LIKE" hx-boost="true" class="dropdown-item">Like</a>
                <a href="?orderBy=COMMENT" hx-boost="true" class="dropdown-item">Comment</a>
            </div>
        </div>
    </div>
</div>
</html>