<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <meta name="title" content="Bespoke - Write Your Stories">
    <meta name="description" content="Bespoke is your platform to write, share, and discover stories. Join a community of writers and readers today.">
    <meta name="image" content="https://bespoke-blog.s3.ap-northeast-2.amazonaws.com/seo/bespoke.png">
    <meta name="keywords" content="blog platform, simple, comfortable, diverse, fast, write stories, share stories, discover stories, velog, inblog, medium, wix, wordpress, tistory, naver blog, 벨로그, 블로그, 인블로그, 워드프레스, 티스토리, 네이버블로그">

    <meta property="og:site_name" content="Bespoke">
    <meta property="og:type" content="website">

    <meta property="og:title" content="Bespoke - Write Your Stories">
    <meta property="og:description" content="Bespoke is a simple but gergeous blog platform. ">
    <meta property="og:image" content="https://bespoke-blog.s3.ap-northeast-2.amazonaws.com/seo/bespoke.png">

    <meta property="twitter:card" content="https://bespoke-blog.s3.ap-northeast-2.amazonaws.com/seo/bespoke.png">
    <meta property="twitter:url" content="https://www.bespoke.com">
    <meta property="twitter:title" content="Bespoke - Write Your Stories">
    <meta property="twitter:description" content="Bespoke is your platform to write, share, and discover stories. Join a community of writers and readers today.">
    <meta property="twitter:image" content="https://bespoke-blog.s3.ap-northeast-2.amazonaws.com/seo/bespoke.png">

    <title>Bespoke</title>
</head>
<body layout:fragment="content">
<section class="section home-page">
    <div class="container">
        <div th:replace="~{page/home/filter :: orderBy}"></div>
        <div class="fixed-grid has-1-cols-mobile has-2-cols-tablet has-4-cols-desktop has-4-cols-widescreen">
            <div class="grid home-page__post-list post-list">
                <th:block th:each="post: ${posts}">
                    <div th:replace="~{fragments/post :: defaultCard(post=${post})}"></div>
                </th:block>
                <!--                Elvis 연산자-->
                <div class="cell" th:if="${(hasNextPage ?: true)}">
                    <span hx-select=".post-list > .cell"
                          hx-swap="outerHTML"
                          hx-target="closest .cell"
                          hx-trigger="revealed"
                          hx:get="@{/hx/home/posts(page=${(page!=null?page:-1)+1},authorId=${param.authorId},orderBy=${param.orderBy})}"
                          hx-indicator="#htmx-skeleton"
                    ></span>
                </div>
            </div>
            <!--            TODO: 로딩 스켈레톤-->
            <!--            <div id="htmx-skeleton" class="htmx-indicator grid">-->
            <!--                <div class="cell" th:each="i : ${#numbers.sequence(1, 10)}">-->
            <!--                    <div class="card">-->
            <!--                        <div class="card-image is-skeleton">-->
            <!--                            <figure class="image is-4by3 is-skeleton">-->
            <!--                                <img-->
            <!--                                        src="https://bulma.io/assets/images/placeholders/1280x960.png"-->
            <!--                                        alt="Placeholder image"-->
            <!--                                />-->
            <!--                            </figure>-->
            <!--                        </div>-->
            <!--                        <div class="card-content">-->
            <!--                            <div class="media">-->
            <!--                                <div class="media-left">-->
            <!--                                    <figure class="image is-48x48">-->
            <!--                                        <img-->
            <!--                                                src="https://bulma.io/assets/images/placeholders/96x96.png"-->
            <!--                                                alt="Placeholder image"-->
            <!--                                        />-->
            <!--                                    </figure>-->
            <!--                                </div>-->
            <!--                                <div class="media-content">-->
            <!--                                    -->
            <!--                                    -->
            <!--                                </div>-->
            <!--                            </div>-->

            <!--                            <div class="content is-skeleton">-->
            <!--                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec-->
            <!--                                iaculis mauris. @bulmaio. <a href="#">#css</a>-->
            <!--                                <a href="#">#responsive</a>-->
            <!--                                <br/>-->
            <!--                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </div>
</section>
</body>
</html>